{% extends "templates/base.twig" %}

{% block title %}register Page{% endblock %}

{% block body %}
    <form action="/register" method="post">
        <label for="name" id="ulabel">Name </label>
        <input type="text" name="name" id="uname""><br><br>
        <div class="form-group">
        <label for="password" id="plabel">Password</label>
        <input type="password" name="password" id="pass" ><br><br>
        <label for="enr" id="elabel">Enrollment Number</label>
        <input type="text" name="enr" id="enr"><br><br>
        <label for="admin" id="alabel">I am an Admin</label>
        <input type="radio" name="admin" value="2" id="admin"><br><br>
        <input type="submit" class="btn btn-primary" value="Submit" id="submit">
        </form> <br><br><br><br><br><br>
        <a href="/" id="login"><button>Already have an account? Login.</button> </a>
{% endblock %}