{% extends "templates/base.twig" %}
{% block title %}Login Page{% endblock %}
{% block body %}

{% if registered %}
<h2> Registed Successfully </h2>
{% endif %}
<div id="div">
<ul class="nav">
<li class="nav-item"><a href="/login" class="nav-link active" aria-current="page" id="active">Login</a></li>
<li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
</ul>
</div>
<br><br><br><br>
<div id="home"><br>
<h1>Hello and Welcome!</h1>
<br><br>

{% if registered %}
<h2> Registed Successfully </h2>
<br><br><br><br>
{% endif %}
<form action="/login" method="post">
<div class="form-group">
<label for="uname">Username:</label>
<input type="text" class="form-control" name="uname"><br>
</div>
   <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="pass">
  </div><br><br><br>
        <input type="submit" class="btn btn-light" id="submit" value="Login"></form> <br></div>
{% endblock %}