{% extends "templates/base.twig" %}
{% block title %}Login Page{% endblock %}
{% block body %}

<h1>Hello and Welcome!</h1>
{% if registered %}
<h2> Registed Successfully </h2>
{% endif %}
<ul style="display:inline">
<li><a href="/login" id="active">Login</a></li>
<li><a href="/register">Register</a></li>
</ul><br><br><br><br><br><br><br>
<form action="/login" method="post">
        <label for="uname" id="ulabel">Username</label>
        <input type="text" name="uname" id="uname"><br>
        <label for="pass" id="plabel">Password</label>
        <input type="password" name="pass" id="pass"><br>
        <input type="submit" class="btn btn-primary" value="Login" id="submit"></form> <br>
{% endblock %}