{% extends "templates/base.twig" %}

{% block title %}register Page{% endblock %}

{% block body %}
<div id="div">
<ul class="nav">
<li class="nav-item"><a href="/login" class="nav-link" aria-current="page" >Login</a></li>
<li class="nav-item"><a href="/register" class="nav-link active" id="active">Register</a></li>
</ul>
</div>
<br><br><br><br>
<div id="home"><br>
<h1>Hello and Welcome!</h1>
<br>
    <form action="/register" method="post">
    <div class="form-group">

        <label for="name" id="ulabel">Name </label>
        <input type="text" name="name" class="form-control"><br></div>
        <div class="form-group">
      <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="pass">
  </div><br>
<div class="form-group">
<label for="enr">Enrollment:</label>
<input type="text" class="form-control" name="enr">
</div><br>
        <label for="admin" id="alabel">I am an Admin</label>
        <input type="radio" name="admin" value="2" id="admin"><br><br>
        <input type="submit" class="btn btn-light" value="Submit" id="submit">
        </form> </div>
{% endblock %}