{% extends "templates/base.twig" %}

{% block title %}register Page{% endblock %}

{% block body %}
<div id="div">
<ul class="nav">
<li class="nav-item"><a href="/">Home</a></li>
<li class="nav-item"><a id="active" href="/vrequest">View Requests</a></li>
<li class="nav-item"><a href="/areq">Admin Requests</a></li>
<li class="nav-item"><a  href="/adminissue">Issued Books</a></li>
<li class="nav-item"><a href="/adminavail">View Available Books </a></li>
<li class="nav-item"><a href="/logout">Signout </a></li></ul></div>
<br><br><br><br>
<h1>Welcome Admin Sirrrrrrr</h1>
<br><br><br><br>
<table class="table table-dark table-striped" id="table">
<tr>
<th> Book Name </th>
<th> Issued By?</th>
<th> Approve?</th>
<th> Confirm?</th>

</tr>
{% for post in posts %}
<tr>
    <td>{{post.name}}</td>
    <td>{{post.Issued_by}}</td>
    <form action="/aprove" method="post">
    <input type="hidden" name="name" value={{post.name}}>
    <input type="hidden" name="issuedby" value={{post.Issued_by}}>
    <td><label for="Yes">Yes</label>
    <input type="radio" name="aprove" value="1">
    <label for="No">No</label>
    <input type="radio" name="aprove" value="0"><br></td>
    <td><input type="submit" class="btn btn-light" value="Confirm" id="submit"><br></td></form>
</tr>
{% endfor %}

{% endblock %}