body{
    background:#6F5E76;
    color: #FFDDE2;
}
h1{
    position: absolute;
    left: 42%;
    top:7%;
}

h2{
    position: absolute;
    left: 42%;
    top:10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
  float: right;
}
li a {
  display: block;
  color: #FFDDE2;
  background-color: #FF8CC6;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}
li a:hover {
  background-color: #EFD6D2;
}
#active{
    background-color: #DE369D;
}
table{
  position:absolute;
  top:40%;
  left:45%;
  color:#FFDDE2;
}
#addform{
  position:absolute;
  top:20%;
  left:45%;
}
table, th, td {
  border: 1px solid white;
}
form{
  margin: auto;
  width: 220px;
  text-align: center; 
}